/*Definindo a fonte Roboto como prioridade de uso para o documento inteiro (body). Na falta, qualquer uma sans-serif*/
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/*  REGRAS DE ESTILO PARA O CAIXA AZUL DO TOPO    */
#btp {
    background-color: #1F2937;
    /*Iniciando o uso do recurso flexbox para organizar divs*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/**/
#btp > div {
    flex: 1;
    text-align: center;
}

/**/
#btp > #btp-main-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.btp-links {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*  REGRAS DE ESTILO PARA PRIMEIRA SECTION    */

#first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-left: 150px;
    padding-bottom: 80px;
}

#first-section > div {
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
}

#title-and-subtitle > .main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    text-align: left;
}

#title-and-subtitle > .subtext {
    color: #E5E7EB;
    font-size: 18px;
    text-align: justify;
}

#title-and-subtitle > .sign-up {
    background: none;
    color: inherit;
    border: none;
    width: 100px;
    padding: 0px;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 4px;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

#placeholder-for-image {
    margin-right: 300px;
    background-color: grey;
    color: #E5E7EB;
    text-align: center;
    padding: 60px;
}

/*second section code*/

#second-section {
    background-color: #E5E7EB;
    padding-top: 40px;
    padding-bottom: 40px;
}
#second-section-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px;
 }

#sec-section-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

#sec-section-boxes > div {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    
}

#sec-section-boxes-paragraphs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
   
}

#sec-section-boxes-paragraphs > div {
    width: auto;
    height: auto;
    
}

#sec-section-boxes-paragraphs > p {
    align-items: center;
    justify-items: center;
    margin: 0px;
  
}












